.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
dist/
node_modules/
.next/
.next-build/
.env
.env.local
.env.*.local
*.log
*firebase-adminsdk*.json
**/firebase-adminsdk*.json
hallaq-upload.zip
tools/ffmpeg/

.vercel
.env*
